body{
  background-color: #111111;
}

.custom-row {
  margin-top: 20px;
}


.form-label {
  font-weight: bold;
  color: #333;
}

.custom-textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.custom-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.custom-button:hover {
  background-color: #0056b3;
}
